<% include header %>

<h1>MongoCRUD</h1>
<h3>To use the MongoCRUD UI:</h3>
<ul>
    <li>GET /crud/{db}/{collection}</li>
</ul>
<h3>To use the MongoCRUD API:</h3>
<ul>
    <li>POST to /[crud]/{db}/{collection}</li>
    <li>include JSON document in the body</li>
    <li>set request headers<br />
        <ul>
            <li>Content-Type: application/json</li>
            <li>Authorization: Basic &lt;token&gt;</li>
        </ul>
    </li>
</ul>

<% include footer %>
