<% include header %>

    <div id="header">
        <h2><%= header_title %></h2>
    </div>
<% if(isDir){ %>
    <div id="tree" ng-controller="<%= controller %>">
    	<script type="text/ng-template" id="nodes_renderer.html">
    		<div ui-tree-handle>
    		<a class="glyphicon" ng-class="{'ui-icon ui-icon-plus': collapsed, 'ui-icon ui-icon-minus': !collapsed}" href="" ng-show="dir.items.length!=0" ng-click="expandRow(this)"></a>
    		<span style="width:16px;display:inline-block;" ng-show="dir.items.length==0"></span>
    		<a href="{{dir.link}}">
    			{{dir.title}}
    		</a>
    		<a class="ui-icon ui-icon-trash" href="" ng-show="dir.items.length==0" ng-click="deleteRow(dir.link)"></a>
    		</div>
    		<ol ui-tree-nodes="options" ng-model="dir.items" ng-class="{hidden: collapsed}">
    			<li ng-repeat="dir in dir.items" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    		</ol>
    	</script>
    	<div id="directoryTree" class="fullscreen">
            <span ng-if="dirList.length===0">No documents found under this URL.</span>
            <div id="asdfdirectoryTree" ui-tree="options" data-drag-enabled="false" ng-if="dirList.length>0">
        		<ol ui-tree-nodes ng-model="dirList">
        			<li ng-repeat="dir in dirList" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        		</ol>
            </div>
        </div>
    </div>
<% }else{ %>
    <div id="main" ng-controller="<%= controller %>">
        <textarea name="textareaname" class="fullscreen" ng-model="wpDoc" ng-keydown="onKeyDown($event)"></textarea>
    </div>
<% } %>

<% include footer %>
