*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
	overflow: hidden;
}
body{
	background-color: white;
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: small;
}
input{
	vertical-align: middle;
}
textarea{
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
	font-size: 14px;
	background-color: black;
	color: lightgreen;
}
.centered{
	width: 66%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.fullscreen{
	overflow-x: hidden;
	overflow-y: scroll;
	resize: none;
}
.ui-icon.ui-icon-plus, .ui-icon.ui-icon-minus, .ui-icon.ui-icon-trash{display:inline-block;}
.hidden{display:none!important;visibility:hidden!important}
#credentials{
	position: absolute;
	top: 3px;
	right: 3px;
}
#header{
	background-color: #e0e0e0;
	padding: 0 2em 0;
}
#main{
	background-color: #e0e0e0;
	min-height: 100%;
	overflow: hidden;
}
#tree{
	padding: 1em 3em 0;
}
